* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

/* --------------------------------------------------------------- common */
textarea,
input,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 6px;
    background: #212832;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.btn:hover {
    scale: 1.03;
}

.section-heading {
    margin-top: 12px;
    color: #212832;
    font-family: "Open Sans";
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.desc-default {
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.desc-large {
    color: #696D76;
    font-size: 1.8rem;
    line-height: 1.67;
}

.logo {
    width: 102.68px;
    height: 24px;
}

.heading-sub {
    color: #696D77;
    display: flex;
    align-items: center;
}

.heading-sub::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696D77;
    margin-right: 12px;
}

/* --------------------------------------------------------------- header */
.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #FFF;
}

.header {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-wrap {
    display: flex;
    align-items: center;
}

.header__list {
    margin-left: 70px;
    display: flex;
}

.head__item {
    padding: 24px;
    color: #696D76;
    text-align: center;
    font-weight: 400;
    line-height: 1.75;
    position: relative;
}

.head__item:hover {
    /* color: #212832;
    font-weight: 600; */
    text-shadow: 0 1px 0 rgb(33, 40, 50);
}

.head__item:hover::after {
    content: "";
    display: inline-block;
    border-radius: 0.5px;
    background: #7264D6;
    width: 55px;
    height: 1px;
    flex-shrink: 0;
    position: absolute;
    bottom: 17px;
    left: 24px;
}

.header__action {
    display: inline-block;
    margin-right: 0;
}

.login__btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 6px;
    /* background: #212832; */
    color: #212832;
    text-align: center;
    font-weight: 600;
    line-height: 1.75;
}

.login__btn:hover {
    color: #fff;
    background: #212832;
    border-radius: 6px;
    scale: 1.03;
}

.login__btn:hover+.sign-up__btn {
    background: #FFF;
    color: #212832;
}

.sign-up__btn {
    padding: 12px 28px;
    font-weight: 600;
    line-height: 1.75;
}

/* --------------------------------------------------------------- hero */
.hero {
    margin-top: 76px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
    width: 500px;
}

.hero__heading--bold {
    color: #7264D6;
}

.hero__desc {
    margin-top: 20px;
    width: 540px;
}

.hero__form {
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 8px 8px 23px;
}

.hero__email {
    color: #696D76;
    border: none;
    outline: none;
    grid-column: 1 / 3;
}

.hero__submit--btn {
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    background: #7264D6;
    color: #FFF;
    text-align: center;
    font-weight: 600;
}

.hero__submit--btn:hover {
    scale: 1.03;
}

.email-consent {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero-media {
    position: relative;
    padding-right: 174px;
}

.hero__deposit,
.hero__secured,
.hero__interest {
    position: absolute;
}

.hero__deposit {
    top: 103px;
    left: -120px;
}

.hero__interest {
    top: 130px;
    right: 0;
}

.hero__secured {
    right: 100px;
    bottom: 67px;
}

/* --------------------------------------------------------------- work */
.work {
    margin-top: 160px;
}

.work-body {
    display: flex;
    justify-content: space-between;
}

.work__media {
    position: relative;
}

.work__decor,
.work__notify {
    position: absolute;
}

.work__decor {
    top: 76px;
    right: 62px;
}

.work__notify {
    bottom: 96px;
    right: -100px;
    padding: 15px 30px 15px 15px;
    display: flex;
    column-gap: 10px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__notify-title {
    color: #212832;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.work__notify-desc {
    margin-top: 5px;
    color: #696D76;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.work-text {
    max-width: 470px;
    padding-top: 29px;
}

.work__list {
    margin-top: 70px;
}

.work__item+.work__item {
    margin-top: 29px;
}

.item__title {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.46;
}

.work__item---desc {
    margin-top: 16px;
}

/* --------------------------------------------------------------- payment */
.payment-body {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
}

.payment-text {
    max-width: 470px;
}

.payment-desc {
    margin-top: 20px;
}

.payment-list {
    margin-top: 28px;
}

.payment-item {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.payment-item+.payment-item {
    margin-top: 18px;
}

.payment-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #7264D6;
    border-radius: 50%;
}

.payment-btn {
    margin-top: 38px;
}

.payment-media {
    position: relative;
}

.payment-img {
    margin-top: 58px;
}

.payment__ing--notify {
    position: absolute;
    right: -120px;
}

.payment__ing--income {
    position: absolute;
    bottom: 67px;
    right: -88px;
}

/* --------------------------------------------------------------- transfer */

.transfer {
    margin-top: 160px;
}

.transfer-body {
    display: flex;
    justify-content: space-between;
}

.transfer-media {
    position: relative;
}

.transfer-method {
    position: absolute;
    left: 215px;
    bottom: -27px;
}

.transfer-decor {
    position: absolute;
    left: 440px;
    bottom: 175px;
}

.transfer-text {
    width: 470px;
}

.transfer-text {
    padding-top: 50px;
}

.transfer-text__desc {
    margin-top: 20px;
}

.transfer__list {
    margin-top: 28px;
}

.transfer__item {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.transfer__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #7264d6;
    border-radius: 50%;
}

.transfer__btn {
    margin-top: 38px;
}